<div class="about-container grid-y">
  <!-- This website -->
  <div class="nm-section">
    <h4 class="nm-header-1">This website</h4>
    <div class="nm-body medium-small">
      <b>No paid services, no templates. </b> <br /><br />
      Here is a list of technologies, languages, and tools that I used.
      <br /><br />
      <i><small>Click on the icons for info!</small></i>
    </div>
    <div class="cell grid-x grid-margin-x grid-margin-y nm-body">
      <div
        class="cell about-icon-container"
        *ngFor="let icon of iconList"
        title="{{ icon.title }}"
        (click)="showDescriptionFor(icon)"
        [ngClass]="{ selected: selected === icon.cssClass }"
      >
        <mat-icon svgIcon="{{ icon.cssClass }}" class="about-icon {{ icon.cssClass }}" *appShellNoRender></mat-icon>
        <img src="assets/icons/placeholder.svg" *appShellRender />
        <div class="text-center about-icon-caption">
          {{ icon.title }}
        </div>
      </div>
    </div>
    <div class="nm-body about-icon-description-container" [ngClass]="{ show: description }">
      <div class="about-icon-description" [innerHtml]="description"></div>
    </div>
  </div>
  <!-- Other resources -->
  <div class="nm-section">
    <h4 class="nm-header-1"><small>Other resources</small></h4>
    <div class="nm-body">
      <ul>
        <li>
          <a href="https://brandcolors.net/" target="_blank" rel="noopener" aria-label="Go to Brand Colors webpage" title="Link to BrandColors webpage"
            >BrandColors</a
          >
        </li>
        <li>
          <a href="https://picsvg.com/" target="_blank" rel="noopener" aria-label="Go to Picsvg webpage" title="Link to Picsvg webpage">Picsvg</a>
        </li>
        <li>
          <a href="https://simpleicons.org/" target="_blank" rel="noopener" aria-label="Go to Simple Icons webpage" title="Link to Simple Icons webpage"
            >Simple Icons</a
          >
        </li>
        <li>
          <a
            href="https://worldvectorlogo.com"
            target="_blank"
            rel="noopener"
            aria-label="Go to World Vector Logo webpage"
            title="Link to WORLDVECTORLOGO webpage"
            >WORLDVECTORLOGO</a
          >
        </li>
        <li>
          <a href="https://tinypng.com" target="_blank" rel="noopener" aria-label="Go to Tinypng webpage" title="Link to Tinypng webpage">Tinypng</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="last-modified-text">Last Modified July 09, 2019</p>
</div>
