<div class="project-card-container">
  <div class="project-card-header-container">
    <h6>{{project.title}}</h6>
  </div>
  <div class="project-card-body-container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, distinctio unde. Eligendi, sit consequuntur?
    Earum harum voluptatibus facilis nam delectus voluptatem ducimus, non, sunt ad eum laborum exercitationem temporibus
    impedit.
  </div>
  <!-- <div class="project-card-footer-container">
    Footer
  </div> -->
</div>