<div class="resume-container grid-x">
  <div class="cell small-12 grid-x grid-margin-y margin-bottom-1">
    <div class="cell shrink">
      <h1>{{ resume.name }}</h1>
      <h3>
        <small>{{ resume.title }}</small>
      </h3>
      <a [attr.href]="'mailto:' + resume.email" title="Email">{{ resume.email }}</a>
    </div>
    <div class="cell auto"></div>
    <div class="cell shrink">
      <a mat-fab target="_blank" rel="noopener" matTooltip="View Resume as PDF" href="assets/files/nasir_mohammad_cv_web.pdf" aria-label="Open Nasir Resume pdf"
        >PDF</a
      >
      <a
        mat-fab
        class="margin-left-1"
        rel="noopener"
        href="assets/files/nasir_mohammad_cv_web.docx"
        aria-label="Open Nasir Resume docx"
        matTooltip="View Resume as DOCX"
        >DOCX</a
      >
    </div>
  </div>
  <!-- Main Column -->
  <div class="resume-main-column cell small-12 medium-8 grid-y">
    <!-- Summary -->
    <div class="cell nm-section">
      <h5 class="nm-header-1">Summary</h5>
      <p>
        {{ resume.summary }}
      </p>
    </div>
    <!-- Experience -->
    <div class="cell nm-section">
      <h5 class="nm-header-1">Experience</h5>
      <!-- Home Depot -->
      <ng-container *ngFor="let experience of resume.experiences">
        <h5 class="nm-header-2">
          <small
            >{{ experience.title }},
            <i
              ><span class="resume-experience-company">{{ experience.company }}</span></i
            ></small
          >
        </h5>
        <p class="resume-date">{{ experience.startDate }} - {{ experience.endDate }}</p>
        <ul class="list">
          <li *ngFor="let bullet of experience.bullets">
            {{ bullet }}
          </li>
        </ul>
      </ng-container>
    </div>
    <!-- Interests / Activities -->
    <div class="cell nm-section">
      <h5 class="nm-header-1">Activities</h5>
      <p *ngFor="let activity of resume.activities">
        {{ activity }}
      </p>
    </div>
  </div>
  <!-- Side Column -->
  <div class="resume-side-column cell small-12 medium-4 grid-y">
    <div class="cell nm-section text-left">
      <h5 class="nm-header-1">Education</h5>
      <p><b>Bachelor of Science in Computer Science</b>, <i>University of Toronto</i></p>
    </div>
    <div class="cell nm-section text-left">
      <h5 class="nm-header-1">Skills</h5>
      <ng-container *ngFor="let skill of resume.skills">
        {{ skill }}
        <br /><br />
      </ng-container>
    </div>
  </div>
  <p class="last-modified-text">Last Modified {{ resume.lastModified }}</p>
</div>
