<div class="resume-container grid-x">
  <div class="cell small-12 grid-x grid-margin-y margin-bottom-1">
    <div class="cell shrink">
      <h1>Nasir Mohammad</h1>
      <h3><small>Software Developer</small></h3>
      <a href="mailto:nasir.m23@hotmail.com" aria-label="Email Nasir" title="Email Nasir">nasir.m23@hotmail.com</a>
    </div>
    <div class="cell auto"></div>
    <div class="cell shrink">
      <a
        mat-fab
        target="_blank"
        rel="noopener"
        matTooltip="View Resume as PDF"
        href="assets/files/nasir_mohammad_cv_web.pdf"
        aria-label="Open Nasir Resume pdf"
        >PDF</a
      >
      <a
        mat-fab
        class="margin-left-1"
        rel="noopener"
        href="assets/files/nasir_mohammad_cv_web.docx"
        aria-label="Open Nasir Resume docx"
        matTooltip="View Resume as DOCX"
        >DOCX</a
      >
    </div>
  </div>
  <!-- Main Column -->
  <div class="resume-main-column cell small-12 medium-8 grid-y">
    <!-- Summary -->
    <div class="cell nm-section">
      <h5 class="nm-header-1">Summary</h5>
      <p>
        I am a graduate from the University of Toronto where I studied Computer Science. My interests primarily lie in
        web technologies but I enjoy anything that involves problem-solving. I have both work and personal experience
        building projects from the ground up. Anything new I learn turns into a feature or update. I have a lot of
        experience being part of a team, in sports, school, and work. I know what it means to put the team's interest
        ahead of your own as both a leader and a follower.
      </p>
    </div>
    <!-- Experience -->
    <div class="cell nm-section">
      <h5 class="nm-header-1">Experience</h5>
      <!-- Home Depot -->
      <h5 class="nm-header-2">
        <small
          >Software Developer, <i><span class="resume-experience-company">Home Depot Canada</span></i></small
        >
      </h5>
      <p class="resume-date">October 2019 - Present</p>
      <ul class="list">
        <li>Develop on Home Depot Canada’s website and internal software applications.</li>
        <li>Build and maintain reusable components consumed by multiple Angular projects.</li>
        <li>
          Automating and updating front-end angular components to improve Home Depot’s website performance and user
          experience.
        </li>
        <li>Take part in an agile work environment, attending stand-ups and sprint planning meetings.</li>
      </ul>
      <!-- Reportin -->
      <h5 class="nm-header-2">
        <small
          >Software Developer, <i><span class="resume-experience-company">Reportin / Source</span></i></small
        >
      </h5>
      <p class="resume-date">June 2017 - August 2018</p>
      <ul class="list">
        <li>
          Implemented an automated test strategy for Reportin’s API on .NET Core and achieved a test coverage of 87%.
        </li>
        <li>
          Independently created an admin panel for a waitlist of over 500 users to allow the marketing team to send
          invites and modify Sendgrid templates.
        </li>
        <li>
          Built an interactive Telegram bot integrated with our waitlist API encourage social engagement of Reportin’s
          platform.
        </li>
        <li>Incorporated an Agile workflow using Jira and daily scrum meetings.</li>
      </ul>
    </div>
    <!-- Interests / Activities -->
    <div class="cell nm-section">
      <h5 class="nm-header-1">Activities</h5>
      <p>Competed in basketball and volleyball intramurals at University College</p>
      <p>
        Officer in a large MMORPG guild with over 900 players. In charge of organizing and leading large groups of
        players from South America to East Asia in order to achieve the common goal of defeating monsters and dragons.
      </p>
    </div>
  </div>
  <!-- Side Column -->
  <div class="resume-side-column cell small-12 medium-4 grid-y">
    <div class="cell nm-section text-left">
      <h5 class="nm-header-1">Education</h5>
      <p><b>Bachelor of Science in Computer Science</b>, <i>University of Toronto</i></p>
    </div>
    <div class="cell nm-section text-left">
      <h5 class="nm-header-1">Skills</h5>
      Java, C/C#, Python, HTML/CSS/JS, TS, SQL
      <br /><br />
      Git, Jira, Visual Studio, Azure, Postman
      <br /><br />
      Angular, React, .NET Core, Node, Travis CI, Redux, Foundation, Bootstrap, Angular Material
    </div>
  </div>
  <p class="last-modified-text">Last Modified April 02, 2020</p>
</div>
