@import 'foundation-styles';

.projects-container {
  width: 100%;

  .main-text-container {
    max-width: 640px;
    padding: 0 1rem 12rem 1rem;
    margin: 0 0 2rem 0;
    font-weight: 100;
    letter-spacing: 1px;
    transition: $nm-transition-slow;

    .main-name {
      color: $nm-secondary;
      text-decoration: none;
      transition: $nm-transition-faster;

      &:hover {
        color: $nm-primary-light;
      }
    }

    .main-text-header {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    .main-text-body {
      font-size: 1.5rem;
      line-height: 2.5rem;

      .beautiful {
        animation: beautiful 20s ease infinite;
      }

      .responsive {
        animation: responsive 20s ease infinite;
      }
    }

    .sub-text-body {
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 100;
    }

    @include breakpoint(640px down) {
      padding: 0 1rem 6rem 1rem;

      .main-text-header {
        font-size: 1.5rem;
      }

      .main-text-body {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  .project-container {
    position: relative;
    width: 100%;
    transition: $nm-transition-medium;
    z-index: 1;
  }

  .project-cards-list {
    z-index: 2;
    transition: $nm-transition-medium;
  }

  .project-cards-list-placeholder {
    z-index: 2;

    .project-card-placeholder {
      width: 100%;
      height: 500px;
      padding: 1rem;
      box-shadow: $nm-boxshadow-2;
    }
  }
}

@keyframes beautiful {
  0% {
    color: white;
  }
  50% {
    color: white;
  }
  75% {
    color: $nm-teal;
  }
  100% {
    color: white;
  }
}

@keyframes responsive {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 0px;
  }
  75% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: 0px;
  }
}
