<div class="contact-container grid-y align-center align-middle">

  <div class="cell text-center">
    <p>Feel free to contact me if you have any questions, advice, or for any opportunities
      :)
    </p>
    <div *ngFor="let item of socialMediaList">
      <a href="{{item.link}}" class="social-media-links" target="{{item.media !== 'microsoft-outlook' ? '_blank' : ''}}"
        rel="noopener" aria-label="Go to Nasir's social media profile page" title="{{item.title}}">
        {{item.title}}
      </a>
    </div>
  </div>
</div>