@import 'foundation-styles';

.projects-container {
  width: 100%;

  .main-text-container {
    padding: 0 1rem 6rem 1rem;
    margin: 0 0 2rem 0;

    @include breakpoint(640px down) {
      padding: 0 1rem;
    }

    .main-body {
      font-size: 1.5rem;
    }
  }

  .project-container {
    position: relative;
    width: 100%;
    transition: $nm-transition-medium;
    opacity: 0;
    z-index: 1;

    &.has-project {
      opacity: 1;
    }
  }

  .project-cards-list {
    z-index: 2;
    transition: $nm-transition-medium;
  }
}
