<div class="projects-container grid-y">
  <div class="grid-y align-middle align-center">
    <iframe src="https://giphy.com/embed/FIxjQGnjmNt5u" width="400" height="300" frameBorder="0" class="giphy-embed"
      allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/funny-writing-assignment-FIxjQGnjmNt5u">via GIPHY</a></p>

    <h6 style="opacity: .7;"><small>This page is not done... but I have my writer working overtime!</small></h6>
  </div>

  <!-- Work Projects -->
  <div class="nm-section">
    <h5 class="nm-header-1">Work</h5>
    <div class="nm-sub-section">
      <h5 class="nm-header-2"><small>Source Waitlist</small></h5>
      <div class="nm-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non molestiae temporibus minus, saepe corporis totam
        possimus nihil qui ut minima nisi nemo perferendis quasi atque dolor esse, et officia aspernatur?
      </div>
    </div>
  </div>
  <!-- School Projects -->
  <div class="nm-section">
    <h5 class="nm-header-1">School</h5>
    <div class="nm-sub-section">
      <h5 class="nm-header-2"><small>Office Hour Scheduler</small></h5>
      <div class="nm-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse a, assumenda soluta
        necessitatibus nisi molestiae quibusdam quis minima officiis voluptates repudiandae dignissimos consequatur ipsa
        quos earum fuga! Perferendis, ipsum pariatur?</div>
    </div>
    <div class="nm-sub-section">
      <h5 class="nm-header-2"><small>Course Correct</small></h5>
      <div class="nm-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse a, assumenda soluta
        necessitatibus nisi molestiae quibusdam quis minima officiis voluptates repudiandae dignissimos consequatur ipsa
        quos earum fuga! Perferendis, ipsum pariatur?</div>
    </div>
    <div class="nm-sub-section">
      <h5 class="nm-header-2"><small>Hands for Mental Health</small></h5>
      <div class="nm-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse a, assumenda soluta
        necessitatibus nisi molestiae quibusdam quis minima officiis voluptates repudiandae dignissimos consequatur ipsa
        quos earum fuga! Perferendis, ipsum pariatur?</div>
    </div>
    <div class="nm-sub-section">
      <h5 class="nm-header-2"><small>Cineplex Usability Test</small></h5>
      <div class="nm-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse a, assumenda soluta
        necessitatibus nisi molestiae quibusdam quis minima officiis voluptates repudiandae dignissimos consequatur ipsa
        quos earum fuga! Perferendis, ipsum pariatur?</div>
    </div>
    <div class="nm-sub-section">
      <h5 class="nm-header-2"><small>Smart Watch Keyboard Usability Test</small></h5>
      <div class="nm-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse a, assumenda soluta
        necessitatibus nisi molestiae quibusdam quis minima officiis voluptates repudiandae dignissimos consequatur ipsa
        quos earum fuga! Perferendis, ipsum pariatur?</div>
    </div>
  </div>
  <div class="nm-section">
    <h5 class="nm-header-1">Personal</h5>
    <div class="nm-sub-section">
      <h5 class="nm-header-2"><small>Warmains</small></h5>
      <div class="nm-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse a, assumenda soluta
        necessitatibus nisi molestiae quibusdam quis minima officiis voluptates repudiandae dignissimos consequatur ipsa
        quos earum fuga! Perferendis, ipsum pariatur?</div>
    </div>
  </div>
  <p class="last-modified-text">Last Modified June 19, 2019</p>
</div>