<div class="projects-container grid-y">
  <!-- Main Text -->
  <div class="cell main-text-container">
    <p style="color: red;" [hidden]="!isHerokuDomain">
      Go to the <a href="https://nasirm.ca" rel="noopener" aria-label="Go to official website domain"
        title="Link to official website">official website.</a>
    </p>
    <h1 class="main-title">Nasir Mohammad</h1>
    <h3 class="main-subtitle"><small>Software Developer</small></h3>
    <p class="main-body margin-vertical-2">
      This website is still a <b>work in progress</b>. You can see that progress on my <a
        href="https://github.com/c3mohamn/portfolio" target="_blank" rel="noopener"
        aria-label="Go to Nasir's Github repository for this website" title="Link to portfolio Github repo">Github</a>
      and
      <a href="https://trello.com/b/hoS9NAOg/portfolio-ideas" target="_blank" rel="noopener"
        aria-label="Go to Nasir's Trello board for this website" title="Link to portfolio Trello board">Trello</a> page.
      <br>
      Feel free to browse around!
    </p>
  </div>
  <!-- Projects Header -->
  <div class="cell text-right" [hidden]="selectedProject">
    <h1 class="projects-header margin-bottom-2 margin-right-1"><small>Projects</small></h1>
  </div>
  <!-- Project -->
  <div class="project-container" [ngClass]="{'has-project': selectedProject}">
    <router-outlet></router-outlet>
  </div>
  <!-- Projet Cards -->
  <div [@listFadeAnimation]="projects.length" class="project-cards-list">
    <div class="cell small-12 grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-12 medium-6" *ngFor="let project of projects" [routerLink]="[ project.name ]">
        <nm-project-card [project]="project"></nm-project-card>
      </div>
    </div>
  </div>
</div>
