<div class="about-container grid-y">
  <!-- About website -->
  <div class="nm-section">
    <div class="nm-section">
      <h5 class="nm-header-1">How it started</h5>
      <div class="nm-body" [innerHtml]="howItStarted"></div>
    </div>
    <div class="nm-section">
      <h5 class="nm-header-1">What I used</h5>
      <div class="nm-body">
        Here is a list of technologies, languages, tools that I used for this website.
        <br><br>
        Click on the icons for a description! <span style="margin-left:0.5rem; color:gray;"><small><i>Images and links
              will be added soon.</i></small></span>
      </div>
      <div class="cell grid-x grid-margin-x grid-margin-y nm-body">
        <div class="cell about-icon-container" *ngFor="let icon of iconList" title="{{ icon.title }}"
          (click)="showDescriptionFor(icon)" [ngClass]="{ selected: selected === icon.class }">
          <svg-icon src="assets/icons/{{ icon.class }}.svg" class="about-icon {{ icon.class }}"></svg-icon>
        </div>
      </div>
      <div class="nm-body about-icon-description-container" [ngClass]="{ show: description }">
        <div class="about-icon-description">
          {{ description }}
        </div>
      </div>
    </div>
    <div class="nm-section">
      <h5 class="nm-header-1">Other resources</h5>
      <div class="nm-body">
        <ul>
          <li>
            <a href="https://brandcolors.net/" target="_blank" rel="noopener" aria-label="Go to Brand Colors webpage"
              title="Link to BrandColors webpage">BrandColors</a>
          </li>
          <li>
            <a href="https://picsvg.com/" target="_blank" rel="noopener" aria-label="Go to Picsvg webpage"
              title="Link to Picsvg webpage">Picsvg</a>
          </li>
          <li>
            <a href="https://simpleicons.org/" target="_blank" rel="noopener" aria-label="Go to Simple Icons webpage"
              title="Link to Simple Icons webpage">Simple
              Icons</a>
          </li>
          <li>
            <a href="https://worldvectorlogo.com" target="_blank" rel="noopener"
              aria-label="Go to World Vector Logo webpage" title="Link to WORLDVECTORLOGO webpage">WORLDVECTORLOGO</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ENDOF About website -->
  <p class="last-modified-text">Last Modified June 26, 2019</p>
</div>