@import 'foundation-styles';

.about-container {
  width: 100%;
  height: 100%;

  // override nm-header-1 from global
  .nm-header-1 {
    margin-bottom: 2rem;
  }

  .about-background-image {
    max-width: 256px;
    height: auto;
    box-shadow: $nm-boxshadow-2;

    @include breakpoint(640px down) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }

  .about-icon-description-container {
    transition: $nm-transition-slow;
    border: solid 2px $nm-secondary;
    padding: 0;
    margin: 2rem 0;

    .about-icon-description {
      opacity: 0;
      transition: $nm-transition-slow;
    }

    &.show {
      padding: 1rem;

      .about-icon-description {
        opacity: 1;
      }
    }
  }

  .about-icon-container {
    width: 64px;
    opacity: 0.8;
    cursor: pointer;
    transition: $nm-transition-fast;

    @include breakpoint(640px down) {
      width: 32px;
    }

    &.selected {
      width: 86px;

      @include breakpoint(640px down) {
        width: 40px;
      }
    }

    &:hover {
      opacity: 1;
    }

    .about-icon {
      &.typescript {
        fill: $typescript;
      }
      &.javascript {
        fill: $javascript;
      }
      &.material-design {
        fill: $material;
      }
      &.github {
        fill: $github;
      }
      &.heroku {
        fill: $heroku;
      }
      &.cloudflare {
        fill: $cloudflare;
      }
    }
  }
}
