<div class="about-container grid-y">
  <!-- About website -->
  <h5 class="about-header-1">About this website</h5>
  <h5 class="about-header-2"><small>How it started</small></h5>
  <div class="about-body">
    <p>
      When my job hunt began shortly after finishing my undergraduate degree, I came to the realization that like
      artists,
      web developers often have portfolios as well.
      <br><br>
      Although my journey has only begun, I figured I should start building my own portfolio and add on to it as I
      developed more skills and experience. It could be a place for me to easily showcase who I am, and what I aspire to
      be. A place where I could keep a log of what everything I have learnt and will learn.
    </p>
  </div>
  <h5 class="about-header-2"><small>What I used</small></h5>
  <div class="cell grid-x grid-margin-x about-body">
    <div class="cell about-icon-container" title="Angular Icon">
      <svg-icon src="assets/icons/angular.svg" class="about-icon angular"></svg-icon>
    </div>
    <div class="cell about-icon-container" title="Nodejs Icon">
      <svg-icon src="assets/icons/node.svg" class="about-icon node"></svg-icon>
    </div>
    <div class="cell about-icon-container">
      <svg-icon src="assets/icons/typescript.svg" class="about-icon typescript"></svg-icon>
    </div>
    <div class="cell about-icon-container">
      <svg-icon src="assets/icons/javascript.svg" class="about-icon javascript"></svg-icon>
    </div>
    <div class="cell about-icon-container" title="Sass Icon">
      <svg-icon src="assets/icons/sass.svg" class="about-icon sass"></svg-icon>
    </div>
    <div class="cell about-icon-container">
      <svg-icon src="assets/icons/materialdesign.svg" class="about-icon material"></svg-icon>
    </div>
    <div class="cell about-icon-container">
      <svg-icon src="assets/icons/github.svg" class="about-icon github"></svg-icon>
    </div>
    <div class="cell about-icon-container">
      <svg-icon src="assets/icons/heroku.svg" class="about-icon heroku"></svg-icon>
    </div>
    <div class="cell about-icon-container">
      <svg-icon src="assets/icons/cloudflare.svg" class="about-icon cloudflare"></svg-icon>
    </div>
    <div class="cell about-icon-container" title="Trello Icon">
      <svg-icon src="assets/icons/trello.svg" class="about-icon trello"></svg-icon>
    </div>
    <div class="cell about-icon-container" title="Google Analytics Icon">
      <svg-icon src="assets/icons/googleanalytics.svg" class="about-icon google-analytics"></svg-icon>
    </div>
    <div class="cell about-icon-container" title="Google Tag Manager Icon">
      <svg-icon src="assets/icons/googletagmanager.svg" class="about-icon google-tag-manager"></svg-icon>
    </div>
  </div>
  <h5 class="about-header-2"><small>Other resources</small></h5>
  <div class="about-body">
    <ul>
      <li>
        <a href="https://brandcolors.net/" target="_blank">BrandColors</a>
      </li>
      <li>
        <a href="https://picsvg.com/" target="_blank">Picsvg</a>
      </li>
      <li>
        <a href="https://simpleicons.org/" target="_blank">Simple Icons</a>
      </li>
      <li>
        <a href="https://worldvectorlogo.com" target="_blank">WORLDVECTORLOGO</a>
      </li>
    </ul>
  </div>
</div>