<div class="header-container grid-y align-middle align-center" [ngClass]="{ 'scrolled-down': isScrolledDown }">
  <div class="header-container-inner cell grid-x align-middle">
    <div class="cell shrink header-title disable-select" (click)="navigate('/projects')">
      <h4>Nasir Mohammad</h4>
    </div>
    <div class="cell auto"></div>
    <div class="cell shrink disable-select nav-link show-for-medium" *ngFor="let page of pages"
      [ngClass]="{ selected: currentPageTitle === page.name }" (click)="navigate(page.url)">
      {{ page.name }}
    </div>
    <div class="cell shrink hide-for-medium">
      <mat-icon svgIcon="menu" class="menu-icon disable-select" (click)="toggleMobileMenu()" *appShellNoRender>
      </mat-icon>
      <img src="assets/icons/placeholder.svg" *appShellRender />
    </div>
  </div>
</div>
<div class="mobile-menu-container hide-for-medium" [hidden]="!showMobileMenu">
  <div class="mobile-menu-header grid-x align-middle align-right">
    <div class="cell shrink">
      <mat-icon svgIcon="close" class="menu-icon close disable-select" (click)="toggleMobileMenu()" *appShellNoRender>
      </mat-icon>
      <img src="assets/icons/placeholder.svg" *appShellRender />
    </div>
  </div>
  <div class="margin-top-3">
    <div class="grid-x align-middle align-center margin-top-1" *ngFor="let page of pages"
      [ngClass]="{ selected: currentPageTitle === page.name }" (click)="navigate(page.url)">
      <div class="cell shrink disable-select nav-link nav-link-mobile">
        {{ page.name }}
      </div>
    </div>
  </div>
</div>
