<div class="resume-container grid-y align-center">
  <h5 class="resume-header-1">Summary</h5>
  <div class="row">
    <div class="columns small-4 medium-2">
    </div>
    <div class="columns small-8 medium-10">
      I am a graduate from the University of Toronto where I studied Computer Science. My interests primarily lie in web
      technologies but I enjoy anything that involves problem-solving and creating cool apps. I have both work and
      personal experience building projects from the ground up. Anything new I learn turns into a feature or update. I
      have a lot of experience being part of a team, in sports, school, and work. I know what it means to put the team's
      interest ahead of your own as both a leader and a follower.
    </div>
  </div>
  <h5 class="resume-header-1">Education</h5>
  <div class="row">
    <div class="columns small-4 medium-2">
      <p>
        Sept 2013 - April 2019
      </p>
    </div>
    <div class="columns small-8 medium-10">
      <p>
        <b>Bachelor of Science in Computer Science</b>, <i>University of Toronto</i>
      </p>
    </div>
  </div>
  <h5 class="resume-header-1">Experience</h5>
  <div class="row">
    <div class="columns small-4 medium-2">
      <p>
        June 2017 - August 2018
      </p>
    </div>
    <div class="columns small-8 medium-10">
      <p>
        <b>Junior Software Developer</b>, <i>Reportin</i>
      </p>
      <ul class="list">
        <li>Implemented an automated test strategy for Reportin’s API on .Net Core </li>
        <li>Integrated external platforms such as Twitter, LinkedIn & Telegram </li>
        <li>Independently created admin panel pages and functions using Angular 6</li>
        <li>Participated in product meetings & prepared presentations for my work </li>
        <li>Kept track of tasks using Jira and took part in daily scrum meetings</li>
      </ul>
    </div>
  </div>
  <h5 class="resume-header-1">Projects</h5>
  <div class="row">
    <div class="columns small-4 medium-2">
      <p>
        April 2017 – Present
      </p>
    </div>
    <div class="columns small-8 medium-10">
      <p>
        <a href="https://github.com/c3mohamn/angular-warmains" target="_blank" rel="noopener"
          aria-label="Go to the Github repository for Warmains"><b>Warmains</b></a>, <i>Personal
          Website</i>
      </p>
      <ul class="list">
        <li>Created a shareable character development tool for World of Warcraft </li>
        <li>Used MEAN stack, Angular Material, NgRx, Foundation, Heroku </li>
        <li>Three iterations of app, all hosted on Heroku with pipelines to Git repos </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns small-4 medium-2">
      <p>
        Winter 2019
      </p>
    </div>
    <div class="columns small-8 medium-10">
      <p>
        <b>Office Hour Scheduler</b>, <i>Engineering Large Software Course</i>
      </p>
      <ul class="list">
        <li>Created a web app using the MEAN stack with five other students </li>
        <li>Adopted the Gitflow model and an Agile workflow </li>
        <li>Major contributions included authentication & front-end Angular testing</li>
      </ul>
    </div>
  </div>
  <h5 class="resume-header-1">Skills</h5>
  <div class="row">
    <div class="columns small-4 medium-2">
      <p>
        Languages
      </p>
    </div>
    <div class="columns small-8 medium-10">
      <b>Typescript, Java, C, C#, Python, JS, HTML, CSS, MySQL </b>
    </div>
  </div>
  <div class="row">
    <div class="columns small-4 medium-2">
      <p>
        Software
      </p>
    </div>
    <div class="columns small-8 medium-10">
      <b>Git, Jira, Visual Studio, Postman, Office/Docs, Slack </b>
    </div>
  </div>
  <div class="row">
    <div class="columns small-4 medium-2">
      <p>
        Other
      </p>
    </div>
    <div class="columns small-8 medium-10">
      <b>Angular, NgRx/Redux, Foundation, Angular Material, Node, Gulp </b>
    </div>
  </div>
  <h5 class="resume-header-1">Interests and Activities</h5>
  <div class="row">
    <div class="columns small-4 medium-2">
    </div>
    <div class="columns small-8 medium-10">
      <p>Competed in basketball and volleyball intramurals at University College </p>
      <p>Officer in a large MMORPG guild – organizing & leading groups of 5 – 40 player raids</p>
    </div>
  </div>
</div>