@import 'foundation-styles';

.body-container {
  height: 100%;
  padding: 6rem 2rem 2rem 2rem;
  transition: $nm-transition-fast;

  .body-top-border {
    width: 85%;
    max-width: 1024px;
    border-top: solid 1px $nm-primary-light;
  }

  @include breakpoint(640px down) {
    padding: 2rem 2rem 2rem 1rem;

    .body-top-border {
      border-top: none;
    }
  }

  .body-container-inner {
    max-width: 1024px;
    margin: 2rem 1rem;
  }
}
