@import 'variables';

.project-container {
  .back-arrow {
    width: 48px;
    height: 48px;
    cursor: pointer;
    fill: $nm-primary-light;
    transition: $nm-transition-fast;

    &:hover {
      fill: $nm-secondary;
    }
  }

  .project-body-container {
    padding: 1rem;
    text-align: justify;
  }
}

.not-found-text {
  color: $nm-red;
}
