<div class="header-container grid-y align-middle align-center" [ngClass]="{'scrolled-down': isScrolledDown}">
  <div class="header-container-inner cell grid-x align-middle">
    <div class="cell shrink header-title disable-select" (click)="navigate('/projects')">
      <h4>Nasir Mohammad</h4>
    </div>
    <div class="cell auto"></div>
    <div class="cell shrink disable-select nav-link show-for-medium" *ngFor="let page of pages"
      [ngClass]="{'selected': currentPageTitle === page.name}" (click)="navigate(page.url)">
      {{page.name}}
    </div>
    <div class="cell shrink hide-for-medium">
      <ng-container *ngIf="isBrowser">
        <ng-container *ngIf="isBrowser">
          <mat-icon svgIcon="menu" class="menu-icon disable-select" (click)="toggleMobileMenu()"></mat-icon>
        </ng-container>
        <ng-container *ngIf="!isBrowser">
          <img src="assets/icons/placeholder.svg">
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div class="mobile-menu-container hide-for-medium" [hidden]="!showMobileMenu">
  <div class="mobile-menu-header grid-x align-middle align-right">
    <div class="cell shrink">
      <ng-container *ngIf="isBrowser">
        <mat-icon svgIcon="close" class="menu-icon close disable-select" (click)="toggleMobileMenu()"></mat-icon>
      </ng-container>
      <ng-container *ngIf="!isBrowser">
        <img src="assets/icons/placeholder.svg">
      </ng-container>
    </div>
  </div>
  <div class="mobile-menu-links grid-y grid-margin-y align-center align-middle margin-top-3">
    <div class="cell shrink disable-select nav-link nav-link-mobile" *ngFor="let page of pages"
      [ngClass]="{'selected': currentPageTitle === page.name}" (click)="navigate(page.url)">
      {{page.name}}
    </div>
  </div>
</div>
