<div class="login-container grid-y align-middle align-center">
  <div class="login-container-inner">
    <form (ngSubmit)="submitForm(loginForm)" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Password</mat-label>
        <input matInput type="text" formControlName="password" required />
        <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>

      <button mat-flat-button type="submit" color="primary" class="margin-top-1 width-100" [disabled]="submitting">
        Access
      </button>

      <p class="response-message padding-1" [ngClass]="{'error': error, 'good': !error}">
        <small>{{serverResponseMsg}}</small></p>
    </form>
  </div>
</div>
