@import 'variables';

.disable-select {
  user-select: none;
}

.no-underline {
  text-decoration: none;
}

.nm-header-1 {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.nm-header-2 {
  padding: 0.5rem 0;
  margin: 0;
}

.nm-body {
  padding: 1rem 0;
  text-align: justify;
}

.last-modified-text {
  font-style: italic;
  font-size: 1rem;
  color: $nm-gray;
  font-weight: 100;
}

::selection {
  color: white;
  background: $nm-secondary-light;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $nm-gray-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $nm-primary-light;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $nm-primary;
}
