@import 'variables';

.disable-select {
  user-select: none;
}

.nm-header-1 {
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  margin-top: 1rem;
  font-weight: 300;
  border-bottom: 2px solid $nm-secondary;
}

.nm-header-2 {
  margin: 1rem 0;
  padding-left: 0.25rem;
}

.nm-section-list-container {
  p {
    margin: 0 0 0.5rem 0.5rem;
  }

  .nm-section-list {
    margin-left: 1rem;
  }
}

.nm-body {
  padding: 1rem;
  text-align: justify;
}

.last-modified-text {
  font-style: italic;
  font-size: 1rem;
  color: $nm-gray;
  font-weight: 100;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $nm-gray-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $nm-primary-light;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $nm-primary;
}
