@import 'variables';

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $nm-gray-light; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $nm-primary-light; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $nm-primary; 
}