<div class="header-container grid-y align-middle align-center" [ngClass]="{'scrolled-down': isScrolledDown}">
  <div class="header-container-inner cell grid-x align-middle">
    <div class="cell shrink header-title disable-select" (click)="navigate('/projects')">
      <h4>Nasir Mohammad</h4>
    </div>
    <div class="cell auto"></div>
    <div class="cell shrink disable-select nav-link show-for-medium" *ngFor="let page of pages"
      [ngClass]="{'selected': currentPageTitle === page.name}" (click)="navigate(page.url)">
      {{page.name}}
    </div>
    <div class="cell shrink hide-for-medium">
      <svg-icon src="assets/icons/menu.svg" class="menu-icon disable-select" [svgStyle]="{'width.px': 32}"
        (click)="toggleMobileMenu()">
      </svg-icon>
    </div>
  </div>
</div>
<div class="mobile-menu-container hide-for-medium" [hidden]="!showMobileMenu">
  <div class="mobile-menu-header grid-x align-middle align-right">
    <div class="cell shrink">
      <svg-icon src="assets/icons/close.svg" class="menu-icon close disable-select" [svgStyle]="{'width.px': 32}"
        (click)="toggleMobileMenu()"></svg-icon>
    </div>
  </div>
  <div class="mobile-menu-links grid-y grid-margin-y align-center align-middle">
    <div class="cell shrink disable-select nav-link" *ngFor="let page of pages"
      [ngClass]="{'selected': currentPageTitle === page.name}" (click)="navigate(page.url)">
      {{page.name}}
    </div>
  </div>
</div>
