@import 'foundation-styles';

.header-container {
  width: 100%;
  height: 6rem;
  padding: 0 2rem;
  position: fixed;
  z-index: 9;
  transition: $nm-transition-medium;

  .header-container-inner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    .header-title {
      h4 {
        font-family: 'Oswald';
        color: $nm-primary-light;
        cursor: pointer;
        transition: $nm-transition-faster;

        &:hover {
          color: $nm-secondary;
          text-shadow: $nm-primary-dark 0px 0px 5px;
        }
      }
    }
  }

  @include breakpoint(640px down) {
    height: 4rem;
  }

  //override header margin
  h5,
  h6 {
    margin: 0;
  }

  &.scrolled-down {
    background: rgba(darken($nm-primary, 5), 0.95);
    box-shadow: 0 5px 5px -2px $nm-primary-dark;
  }
}

.menu-icon {
  fill: $nm-primary-light;
  transition: $nm-transition-fast;
  cursor: pointer;

  &.close {
    z-index: 11;
  }

  &:hover {
    fill: $nm-secondary;
  }
}

.nav-link {
  font-family: 'Oswald';
  color: $nm-primary-light;
  padding-left: 1rem;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: $nm-transition-faster;

  &:hover,
  &.selected {
    color: $nm-secondary;
    text-shadow: $nm-primary-dark 0px 0px 5px;
  }
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: darken($nm-primary, 10);
  z-index: 10;

  .mobile-menu-header {
    height: 4rem;
    padding: 0 2rem;
    width: 100%;
  }
}
