<div class="header-container grid-x align-middle">
  <div class="title-container cell shrink">
    <h3>Nasir Mohammad</h3>
  </div>
  <div class="cell auto"></div>
  <div class="nav-container cell shrink" (click)="navigate('')">
    <h5>Home</h5>
  </div>
  <div class="nav-container cell shrink" (click)="navigate('resume')">
    <h5>Resume</h5>
  </div>
  <div class="nav-container cell shrink" (click)="navigate('about')">
    <h5>About</h5>
  </div>
  <div class="nav-container cell shrink" (click)="navigate('contact')">
    <h5>Contact</h5>
  </div>
</div>