@import 'foundation-styles';

.header-container {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  position: fixed;
  z-index: 9;
  transition: $nm-transition-medium;

  @include breakpoint(640px down) {
    height: 4rem;
  }

  //override header margin
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .title-container {
    padding-left: 1rem;
  }

  &.scrolled-down {
    background: rgba(darken($nm-primary, 5), 0.95);
    box-shadow: 0 5px 5px -2px $nm-primary-dark;
  }
}

.menu-icon {
  fill: $nm-primary-light;
  margin-right: 1rem;
  transition: $nm-transition-fast;
  cursor: pointer;

  &:hover {
    fill: $nm-secondary;
  }
}

.nav-link {
  h4,
  h5 {
    color: $nm-primary-light;
    cursor: pointer;
    font-family: 'Oswald';
    transition: $nm-transition-faster;
    letter-spacing: 0.25rem;

    &:hover,
    &.selected {
      color: $nm-secondary;
      text-shadow: $nm-primary-dark 0px 0px 5px;
    }
  }
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: darken($nm-primary, 10);
  z-index: 10;

  .mobile-menu-container-inner {
    position: relative;

    .mobile-menu-close {
      padding: 1rem;
      height: 4rem;
      width: 100%;
    }
  }
}
