@import 'variables';

.header-container {
  width: 100%;
  height: 6rem;
  padding: 1rem;

  .title-container {
    padding-left: 1rem;
  }

  .nav-container {
    padding: 0 1rem;
    cursor: pointer;
    
    &:hover {
      h5 {
        color: $nm-primary-light;
        transition: $nm-transition-faster;
      }
    }
  }
}
