<div class="home-container grid-y align-center align-middle">
  <div class="nasir-portrait-container">
    <svg-icon src="assets/icons/nasir-1.svg" class="nasir-portrait.svg"></svg-icon>
  </div>
  <h1 class="home-title">Nasir Mohammad</h1>
  <h4 class="home-subtitle"><small>Software Developer</small></h4>
  <br><br>

  <p class="home-body text-center">
    This website is still a work in progress. You can see that progress on my <a
      href="https://github.com/c3mohamn/portfolio" target="_blank" rel="noopener"
      aria-label="Go to Nasir's Github repository for this website">Github</a>.
  </p>
</div>