<div class="home-container grid-y align-center align-middle">
  <p style="color: red;" [hidden]="!isHerokuDomain">
    Go to the <a href="https://nasirm.ca" rel="noopener" aria-label="Go to official website domain"
      title="Link to official website">official website.</a>
  </p>
  <!-- <div class="nasir-portrait-container">
    <svg-icon src="assets/icons/nasir-1.svg" class="nasir-portrait.svg"></svg-icon>
  </div> -->
  <h1 class="home-title">Nasir Mohammad</h1>
  <h4 class="home-subtitle"><small>Software Developer</small></h4>
  <br><br>
  <p class="home-body text-center">
    This website is still a work in progress. You can see that progress on my <a
      href="https://github.com/c3mohamn/portfolio" target="_blank" rel="noopener"
      aria-label="Go to Nasir's Github repository for this website" title="Link to portfolio Github repo">Github</a> and
    <a href="https://trello.com/b/hoS9NAOg/portfolio-ideas" target="_blank" rel="noopener"
      aria-label="Go to Nasir's Trello board for this website" title="Link to portfolio Trello board">Trello</a> page.
  </p>
</div>