@import 'variables';

:host {
  width: 100%;
}

.footer-container {
  width: 100%;
  padding: 2rem 1rem 0 1rem;

  .footer-main-text {
    color: $nm-primary-light;
  }

  .footer-social-icons {
    margin-top: 0.5rem;
  }

  .footer-social-icon-container {
    width: 24px;
    margin: 0.5rem;
    cursor: pointer;

    .footer-social-icon {
      fill: $nm-primary-light;
      transition: $nm-transition-faster;

      &:hover {
        fill: $nm-secondary;
      }
    }
  }
}
