<div class="footer-container grid-y align-center align-middle">
  <p class="footer-main-text text-center">Site created by Nasir Mohammad</p>

  <div class="grid-x grid-margin-x grid-margin-y footer-social-icons align-center align-middle">
    <div class="cell footer-social-icon-container" *ngFor="let item of socialMediaList" title="{{item.title}}">
      <a href="{{item.link}}" target="{{item.media !== 'microsoft-outlook' ? '_blank' : ''}}" rel="noopener">
        <svg-icon src="assets/icons/{{item.media}}.svg" class="footer-social-icon"></svg-icon>
      </a>
    </div>
  </div>
</div>