@import 'variables';

.footer-container {
  padding: 2rem;

  .footer-main-text {
    opacity: 0.5;
  }

  .footer-social-icons {
    margin-top: 1rem;
  }

  .footer-social-icon-container {
    width: 24px;
    cursor: pointer;

    .footer-social-icon {
      fill: $nm-primary-light;
      transition: $nm-transition-faster;

      &:hover {
        fill: $nm-secondary;
      }
    }
  }
}
