<div class="footer-container grid-y align-center align-middle">
  <p class="footer-main-text">Site created by Nasir Mohammad</p>

  <div class="grid-x grid-margin-x footer-social-icons">
    <!-- Facebook -->
    <div class="cell footer-social-icon-container">
      <a href="https://www.facebook.com/nasir.m23" target="_blank">
        <svg-icon src="assets/icons/facebook.svg" class="footer-social-icon"></svg-icon>
      </a>
    </div>
    <!-- Instagram -->
    <div class="cell footer-social-icon-container">
      <a href="https://www.instagram.com/nasirm23" target="_blank">
        <svg-icon src="assets/icons/instagram.svg" class="footer-social-icon"></svg-icon>
      </a>
    </div>
    <!-- Twitter -->
    <div class="cell footer-social-icon-container">
      <a href="https://twitter.com/nasir_m23" target="_blank">
        <svg-icon src="assets/icons/twitter.svg" class="footer-social-icon"></svg-icon>
      </a>
    </div>
    <!-- Linkedin -->
    <div class="cell footer-social-icon-container">
      <a href="https://www.linkedin.com/in/nasir-mohammad-448906140/" target="_blank">
        <svg-icon src="assets/icons/linkedin.svg" class="footer-social-icon"></svg-icon>
      </a>
    </div>
    <!-- Outlook -->
    <div class="cell footer-social-icon-container">
      <a href="mailto:nasir.m23@hotmail.com">
        <svg-icon src="assets/icons/microsoftoutlook.svg" class="footer-social-icon"></svg-icon>
      </a>
    </div>
  </div>
</div>