<div class="project-container grid-y grid-margin-y" *ngIf="project">
  <div class="cell project-header grid-x grid-margin-x align-middle">
    <div class="cell shrink back-arrow-container" [routerLink]="[ '' ]">
      <svg-icon src="assets/icons/arrow-back.svg" class="back-arrow"></svg-icon>
    </div>
    <div class="cell auto"></div>
    <div class="cell shrink">
      <h1 class="projects-header margin-right-1"><small>{{project?.title}}</small></h1>
    </div>
  </div>

  <div class="cell project-body-container">
    <!-- Temp -->
    <div>
      <iframe src="https://giphy.com/embed/FIxjQGnjmNt5u" width="400" height="300" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>
      <p><a href="https://giphy.com/gifs/funny-writing-assignment-FIxjQGnjmNt5u">via GIPHY</a></p>
      <p>Content is not finished for projects... but I have my writer working overtime!</p>
      <p>Meanwhile, feel free to checkout the <a [routerLink]="[ '/about']">About</a> page!</p>
    </div>
  </div>
</div>
